<html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<center>
<h1>WELCOME TO TIME TABLE MANAGEMENT SYSTEM</h1>
</center>
<body>
	<head>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
{% for message in messages %}
<h4>*{{message}}*</h4>
{% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
	<form action="home">
		<button type='submit'>REGISTER</button>
	</form></center>
<center>
	<form action="login">
		<button type='submit'>LOGIN</button>
	</form></center>
<center>
<form action="updater">
	<button type='submit'>UPDATE</button>
</form></center>
</body>
{% endblock %}
</html>